    .mainHeader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image {
        width: 30%;
        padding: 2rem;
        max-width: 200px;
    }
    
    .options {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #393939;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 2rem;
        background-color: #656C76;
        color: #FFFFFF;
        font-size: x-large;
    }
    
    .options:hover {
        background-color: #58ACDB;
    }
    
    .SignButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 2rem;
        border-radius: 0.99em;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: whitesmoke;
        background-color: #58ACDB;
        transition: all 0.2s;
    }
    
    .image-singIn {
        width: 3rem;
    }
    
    .SignButton:hover {
        color: #000000;
        background-color: #00A4FF;
    }
    
    .profLog {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        margin: 1rem;
    }
    
    .logOutBtn {
        width: fit-content;
        padding: 0.5rem;
        margin: 0.3rem;
        transition: transform .6s;
        background-color: #58ACDB;
        color: #FFFFFF;
    }
    
    .logOutBtn:hover {
        transform: scale(0.8);
    }
    
    .myProfileBtn {
        padding: 0.5rem;
        width: fit-content;
        transition: transform .6s;
        background-color: #58ACDB;
        color: #FFFFFF;
    }
    
    .myProfileBtn:hover {
        transform: scale(0.8);
    }
    
    @media screen and (max-width: 760px) {
        .header .image {
            width: 30%;
            height: auto;
        }
    }