    .mainHeader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image {
        width: 30%;
        padding: 2rem;
        max-width: 200px;
    }
    
    .optionHome {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #393939;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 2rem;
        text-decoration: none;
        background-color: #58ACDB;
        color: #FFFFFF;
        font-size: x-large;
    }
    
    .options {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #393939;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 2rem;
        background-color: #656C76;
        color: #FFFFFF;
        font-size: x-large;
    }
    
    .options:hover {
        color: #58ACDB;
    }
    
    .SignButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 2rem;
        border-radius: 0.99em;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: whitesmoke;
        background-color: #58ACDB;
        transition: all 0.2s;
    }
    
    .image-singIn {
        width: 3rem;
    }
    
    .SignButton:hover {
        color: #000000;
        background-color: #00A4FF;
    }
    
    @media screen and (max-width: 760px) {
        li {
            display: block;
        }
        .header .image {
            width: 30%;
            height: auto;
        }
    }