.divNoteBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.createNotesDiv {
    display: flex;
    justify-content: center;
}

.createNoteBtn {}

.createNoteBtn:hover {}

.textArea {
    background-color: #fff44f;
    color: black;
    margin: 1rem;
}