.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.subjects {
    background-color: #fff44f;
    margin: 1%;
    width: 90%;
    max-width: 1000px;
    border-style: solid;
    border-color: black;
    font-size: x-large;
}