.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.listSub {
    display: flex;
    align-items: center;
    width: 100%;
}

.subjects {
    background-color: #fff44f;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 1%;
    border-style: solid;
    border-color: black;
    font-size: x-large;
}