.noteBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FolderDiv {
    width: 100%;
    padding-left: 3rem;
    padding-bottom: 1rem;
    color: white;
    border-bottom: solid #58ACDB;
    font-size: xx-large;
    margin: 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 1000px;
}

.Notes {
    transition: 900ms;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    border-bottom: solid;
    border-color: black;
    font-size: large;
}