.noteBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Notes {
    transition: 900ms;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    border-bottom: solid;
    border-color: black;
    font-size: large;
}