main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.firstBox {
    display: flex;
    max-width: 1200px;
}

.box {
    display: flex;
    align-items: center;
}

.singUPbtn {
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.99em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: #2b2a2a;
    transition: all 0.2s;
}

.singUPbtn:hover {
    color: #000000;
    background-color: #fff44f;
}

.signUp {
    padding: 2%;
    border-style: solid;
    border-radius: 0.99em;
}

.aboutBox {
    margin: 3%;
    border-style: solid;
    border-radius: 0.99em;
    border-color: #2b2b2b;
    background-color: #fff44f;
}

.collaboration {
    width: 70%;
}

.secondBox {
    display: flex;
    max-width: 1200px;
}

.benfits {
    margin: 3%;
    border-style: solid;
    border-radius: 0.99em;
    border-color: #2b2b2b;
    background-color: #fff44f;
}

.screens {
    width: 50%;
}

@media screen and (max-width: 760px) {
    main {}
    .firstBox {
        display: block;
    }
    .box {
        display: block;
        align-items: center;
    }
    .signUp {
        margin-left: 8%;
    }
    .collaboration {
        width: 50%;
        margin-right: 8%;
    }
    .secondBox {
        display: block;
    }
    .screens {
        width: 50%;
    }
}