.singUp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: gray;
    height: 15rem;
}

.UP {
    margin-top: 2rem;
    margin-left: 45rem;
    margin-right: 45rem;
    padding: 8px;
    color: white;
    -webkit-appearance: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 3px 0px;
    background-color:#58ACDB; 
}
.acc{
    color: white;
      text-align: center;
      font-size: 1.5rem;
      margin: 1.5rem;
      font-weight: bold;
      

}
.firstBox {
    display: flex;
    max-width: 500;
}


main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}



.aboutBox {
    margin: 3%;
    background-color: #fff44f;
    transform: rotate(15deg);
    padding:2%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.collaboration {
    width: 70%;
}
.secondBox {

    display: flex;
    max-width: 1200px;
}

.benfits {
    margin: 3%;
    border-style: solid black;
    border-radius: 0.99em;
    box-shadow: rgba(0, 0, 0, 0.500) 0px 3x 0px;
    background-color: #58ACDB;
    color:white
}

.screens {
    width: 50%;
}

@media screen and (max-width: 760px) {
    main {}
    .firstBox {
        display: block;
    }
    .box {
        display: block;
        align-items: center;
    }
    .signUp {
        margin-left: 8%;
    }
    .collaboration {
        width: 50%;
        margin-right: 8%;
    }
    .secondBox {
        display: block;
    }
    .screens {
        width: 50%;
    }
}