*{
    font-family: Arial, sans serif;
 }
.container-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Sorry{
      color: white;
      text-align: center;
  }
  .image-404 {
    width: 100px;
  }
  .Four{
      font-style: bold;
      font-size: 200%;
      color: white;
      text-align: center;
      
  }
  .Exist{
      color: white;
      text-align: center;

  }