main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.yellowBoxUP {
    width: 70%;
    background-color: #fff76a;
    text-align: center;
    max-width: 1200px;
    margin: 5%;
}

.Signup {
    font-size: x-large;
    font-weight: bold;
}

.logSection {
    background-color: #FFCE5C;
    margin: 0 auto;
    vertical-align: middle;
    width: 40%;
}

label {
    display: block;
    margin: 0;
}

.submit {
    background-color: white;
    transition: 400ms;
    width: auto;
}