.categoriesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.renderFolders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folders {
    margin: 2rem;
    padding: 5rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.5rem #aaaaaaaa;
    background-color: #58ACDB;
    color: aliceblue;
}