main {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #4D5970;
}

.yellowBox {
    width: 70%;
    background-color: #4D5970;
    border-radius: 0.99em;
    text-align: center;
    max-width: 1200px;
    min-width: 350px;
    margin: 5%;
}

.logSection {   
    background-color:#707070;
    margin: 0 auto;
    vertical-align: middle;
    width: 40%;
}

.logIn {
    font-size: x-large;
    font-weight: bold;
    color:white
   
}



input {
    display: inline-block;
    margin: 5%;
    padding: 10px 15px;
    width: auto;
}

label {
    display: block;
    margin: 0;
  
}

.username {
    display: flex;
}

.password {
    display: flex
}

.submit {
background-color: #58ACDB;
    border-radius: 0.99em;
    transition: 400ms;
    width: auto;
}

.submit:hover {
    transform: scale(1.2) perspective(0.5px);
}