form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: solid;
    border-color: black;
    font-size: large;
}

.subjectList {
    width: 95%;
}

.Notes {
    padding: 5%;
}